body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/*.ad-container {
    width: 100%;
    height: 250px;
    background-color: #f3f3f3;
    text-align: center;
    line-height: 250px;
    margin-top: 20px;
    border: 1px dashed #999;
}*/