body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 0;
    background-color: #f4f4f4;
}

#popupHeader {
    font-weight: 800;
    font-size: larger;
    padding-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

input, select, textarea {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

.viewBtn, .deleteBtn {
    display: block;

}

#addJobView, #jobListView, #jobDetailView {
    display: block;
    margin: 20px;

}

#jobListView {
    padding-bottom: 10px;
}

#jobDetailView {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

#jobDescription {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}

#notesList {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.note-content {
    display: flex;
}

.editNoteBtn, .deleteNoteBtn {
    margin-left: 5px;
}