body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 0;
    background-color: #f4f4f4;
}

#popupHeader {
    font-weight: 800;
    font-size: larger;
    padding-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

/* the unordered list of items*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* individual list of job items and note items*/
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}*

/* Wrapper for title, date, and status */
.job-container {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ccc;
}

/* Title */
li strong {
    flex: 2;
    min-width: 200px;
    text-align: left;
}

/* Date */
.job-date {
    flex: 1;
    min-width: 120px;
    text-align: center;
    color: #555;
}

/* Status */
.job-status {
    flex: 2;
    text-align: left;
    min-width: 180px;
}

/* Button Container */
.job-actions {
    display: flex;
    gap: 5px;
}

input, select, textarea {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

.viewBtn, .deleteBtn {
    display: block;

}

#addJobView, #jobListView, #jobDetailView {
    display: block;
    margin: 20px;

}

#jobListView {
    padding-bottom: 10px;
}

#jobDetailView {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

#jobDescription {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}

#notesList {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
   
}

.note-content {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.editNoteBtn, .deleteNoteBtn {
    margin-left: 5px;
}